# Rename this to .env for local development
# and fill in the values for your environment
# and never commit this file to your repository

SANITY_PROJECT_ID=your_project_id
SANITY_WRITE_TOKEN=your_write_token